<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MOVIES</title>
    
</head>
<body>
    <header class="header">
    


<section class="wrapper">
   <div class="main__container">
 <div class="card">
       <form >
      <input type="text" id='movie' class="input__field" placeholder="Search movie">
    </form>
     <div class="movie__container">
        <div class="card__banner">
        <img class="banner__image" src="https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop" alt="movie image">
      </div>
      <div class="card__body">
   
        <h2 class="card__title">Search for a movie</h2>
        {{!--  --}}
        <div class="card__movie_release">
            {{!-- <div class="release--date">Release date: 2019</div>
            <div class="vote">Vote: 7.5</div> --}}
        </div>
        <p class="card__description"></p>

        
      </div>
     </div>

    </div>

        <div class="logo">
    <img class="logo__image" src="/images/movie_db.svg" alt="movie database logo">
</div>
   </div>
   

  </section>
    </header>
<script src="/js/app.js"></script>
</body>
</html>


